{% extends 'base.html.twig' %}

{% block title %}
  Edit Section
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1 class="mb-4">Edit Section</h1>

    {{ include('section/_form.html.twig', { button_label: 'Update' }) }}

    <div class="mt-3">
      <a href="{{ path('app_section_index') }}" class="btn btn-secondary">Back to List</a>
    </div>

    <hr class="my-4" />

    {{ include('section/_delete_form.html.twig') }}
  </div>
{% endblock %}
