{% extends 'base.html.twig' %}

{% block title %}
  Create New Item Footer
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1 class="mb-4">Create New Item Footer</h1>

    {{ include('footer/_form.html.twig') }}

    <a class="btn btn-secondary mt-3" href="{{ path('app_footer_index') }}">Back to List</a>
  </div>
{% endblock %}
